services:
  mongo1:
    image: mongo:latest
    container_name: mongo1
    restart: unless-stopped
    ports:
      - 27017:27017
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - mongo1_data:/data/db

  
  mongo-setup:
    image: mongo:latest
    container_name: mongo-setup
    depends_on:
      - mongo1
    entrypoint: [ "bash", "-c" ]
    command: >
      "
      sleep 5 &&
      mongosh --host mongo1:27017 --eval '
        rs.initiate({
          _id: \"rs0\",
          members: [
            { _id: 0, host: \"mongo1:27017\" }
          ]
        })
      ' || true
      "

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 9091:8081
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongo1:27017/?replicaSet=rs0
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: root
      ME_CONFIG_BASICAUTH_PASSWORD: root
  jaeger:
    image: jaegertracing/jaeger:2.10.0
    ports:
      - "16686:16686"   # UI
      - "4317:4317"     # OTLP gRPC
      - "4318:4318"     # OTLP HTTP
    environment:
      SPAN_STORAGE_TYPE: badger
      BADGER_EPHEMERAL: "false"
      BADGER_DIRECTORY_VALUE: /badger/data
      BADGER_DIRECTORY_KEY: /badger/key
    volumes:
      - jaeger-data:/badger

  vault:
    image: hashicorp/vault:1.17
    container_name: vault
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: dev-root
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    ports:
      - "8200:8200"
    command: server -dev -dev-root-token-id=dev-root -dev-listen-address=0.0.0.0:8200

  vault-init:
    image: hashicorp/vault:1.17
    container_name: vault-init
    depends_on:
      - vault
    entrypoint: ["/bin/sh","-lc"]
    environment:
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: dev-root
    command: >
      "
      set -e
      # enable kv v2 at secret/
      vault secrets enable -path=secret -version=2 kv || true
      # seed example secret
      vault kv put secret/github GH_TOKEN=ghp_example_token
      echo 'vault init done'
      "

  
volumes:
  mongo1_data:
    driver: local
  jaeger-data:
    driver: local
